/* เพิ่มพื้นหลังสีฟ้า */
body {
    background-color: #9a9caf; /* สีฟ้า */
    font-family: Arial, sans-serif;
}

/* ตกแต่งหัวข้อ h1 และ h2 */
h1 {
    color: #000000; /* สีฟ้าเข้ม */
}
h2 {
    color: #ff0000; /* สีแดง */
}

/* ตกแต่งข้อความย่อหน้า */
p {
    color: #000000; /* สีเทาเข้ม */
}

/* เพิ่มสีเน้นใน b */
b {
    color: #ff0000; /* สีแดง */
}

/* สีรายการใน ul */
ul li {
    color: #000000; /* สีดำ */
}

/* สีรายการใน ol */
ol li {
    color: #000000; /* สีดำ */
}

/* ตาราง */
table td {
    color: #1ABC9C; /* สีเขียวมิ้นต์ */
    text-align: left; /* จัดข้อความชิดซ้าย */
}

/* จัดภาพในตารางชิดซ้าย */
table td img {
    display: block;
    margin: 0 auto 0 0; /* จัดภาพให้ชิดซ้าย */
}

/* ลิงก์ */
a {
    color: #ff0000;
    text-decoration: none;
}
